In [55]:
import pandas as pd
import random
srs_a = pd.Series([10,30,60,80,90])
srs_b = pd.Series(['red', 'green','blue', 'white', 'black'])
df = pd.DataFrame({'a': srs_a, 'b': srs_b})
df

    a      b
0  10    red
1  30  green
2  60   blue
3  80  white
4  90  black

In [25]:
data = pd.read_csv('train.csv') # .. = Get our parent folder.

In [16]:
data['PassengerId']

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [21]:
id_values = data['PassengerId']

In [31]:
mean = id_values.mean()
median = id_values.median()
minimum = id_values.min()
maximum = id_values.max()

In [33]:
print ("ID mean is ",  mean, "; median value is: ",median)
print ("[",minimum,",",maximum,"]")

ID mean is  446.0 ; median value is:  446.0
[ 1 , 891 ]

In [38]:
sr = pd.Series(data['PassengerId'])

In [60]:
workingData = data
rando = random.randint(minimum,maximum)
print(rando)
print(workingData.iloc[[rando],[0]])
workingData.drop(rando)
print(workingData.iloc[[rando],[0]])

775
     PassengerId
775          776
     PassengerId
775          776